[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.88.0"
uvicorn = {extras = ["standard"], version = "0.20.0"}
requests = "*"
uptime-kuma-api = "*"

[dev-packages]

[requires]
python_version = "3.8"
